.carousel-item {
    height: 65vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.zoom {
    margin-left: 90px;
}

.zoom1 {
    margin-left: 90px;
}

.zoom2 {
    margin-left: 40px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
/* ajustes da letra*/
.galeria{
    font-family: 'open sans';
}

.galeria h1{
    text-align: center;
    margin: 20px 0 15px 0;
    font-weight: 300;
    color: #08944e;
}

/*
.galeria h3{
    text-align: center;
    margin: 20px 0 15px 0;
    font-weight: 300;
    color: #b90f03;
}
*/

/*linha do topo*/
.linea{
    border-top: 5px solid #08944e;
    margin-bottom: 40px;
}

/*efeito nas imagens*/
.container-imagens{
    display: flex;
    width: 85%;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 3px;
}

/*formar quadrados no corpo*/
.container-imagens .imagem{
    width: 32%;
    position: relative;
    height: 380px; /*comprimento da foto*/
    margin-bottom: 5px;
    box-shadow: 0px 0px 3px 0px rgb(0, 0, 0);
}

/*imagem ocupar 100% o quadrado*/
.imagem img{
  width: 100%;
  height: 100%;
  object-fit: cover; /*resoluçao da foto*/
}

/*efeito ao passar por cima da foto*/
.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(65, 138, 31, 0.781); 
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: .5s ease; /*tempo do efeito*/
}

.overlay h2{
    color: #fff;
    font-weight: 300;
    font-size: 30px;
    position: absolute;
    top:50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
} 

.imagem:hover .overlay{
    height: 100%;
    cursor: pointer;
}  /*fim do efeito com cor*/

@media screen and (max-width:1000px){
    .container-imagens{
        width: 95%;
    }
}

@media screen and (max-width:700px){
    .container-imagens{
        width: 90%;
    }
    .container-imagens .imagem{
        width: 48%;
    }
}

@media screen and (max-width:450px){
    h1{
        font-size: 22px;
    }
    .container-imagens{
        width: 98%;
    }
    .container-imagens .imagem{
        width: 80%;
    }
}